# Keystatic
# Docs: https://keystatic.com/docs/github-mode
KEYSTATIC_GITHUB_CLIENT_ID=     # See Bitwarden
KEYSTATIC_GITHUB_CLIENT_SECRET= # See Bitwarden
KEYSTATIC_SECRET=               # See Bitwarden
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=my-site-keystatic
KEYSTATIC_STORAGE_KIND=github

ASTRO_ENV=staging
ASTRO_ENABLE_KEYSTATIC=true
ASTRO_USE_NETLIFY_ADAPTER=true

# Those variables need to be added to the Netlify site settings manually.
# To create them, setup Keystatic for Github on local, following https://keystatic.com/docs/github-mode#setting-up-git-hub-mode
# To edit the Github application, see https://github.com/Thinkmill/keystatic/pull/1358/files
